
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body
{
	font-family: 'PT Serif', serif;
	text-align: center;
}


h1
{
	text-align: center;
	font-size: 2.5em;
	margin-bottom: 5%; 
}

h2
{
	font-size: 2em;
	color: teal;
}

.box {
    text-align: center;
    background: white;
    display: inline-block;
    width: 90%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

#product, #email, #butt, #price {
    display: block;
    width: 80%;
    margin: 0 auto 10% auto;
    padding: 1%;
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 20px;
}

#butt {
    background:teal;
    border-color:teal;
    color: white;
}

#confirmlink, #buttons
{
    margin: 2.5vh;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
}

a.link
{
    color: teal;
    text-decoration: none;
    transition: all 0.3s ease;
    border-bottom: 1px solid;
}

a.link:hover{color: black};
a.link:visited {color: teal;} 