
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body
{
	font-family: 'PT Serif', serif;
	text-align: center;
}


h1
{
	text-align: center;
	font-size: 2.5em;
	margin-bottom: 5%; 
}

h2
{
	font-size: 2em;
	color: #edb336;
}

.box {
    text-align: center;
    background: white;
    display: inline-block;
    width: 90%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

#product, #email, #butt, #price {
    display: block;
    width: 80%;
    margin: 0 auto 10% auto;
    padding: 1%;
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 20px;
}

#butt {
    background: #edb336;
    border-color: #edb336;
    color: white;
}