<!DOCTYPE html>
<html>
<head>
	<title>eCommerce Web Scraping</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Lato|Playfair+Display|Heebo|Roboto:900|PT+Serif:700" rel="stylesheet">
</head>
<body>
	<h1> eCommerce Web Scraping </h1>
	<div class ="box">
		<form action="{{request.path}}" method="post">
			<h2> Track Item </h2>
			<input type="url" name = "product" id="product" placeholder="Product Name">
			<input type="email" name = "email" id="email" placeholder="Email id">
			<input type="number" name = "price" id="price" placeholder="Price">			
			<input type="submit" id="butt" value="Submit">
		</form>
	</div>
</body>
</html>